* {
    margin: 0;
    padding: 0;
}
body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.911), rgba(0, 0, 0, 0.5)), url(https://static.rogerebert.com/uploads/blog_post/primary_image/video-games/new-game-based-on-marvels-the-avengers-is-a-lot/Avengers.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}


nav{
    background: linear-gradient(rgb(255, 124, 146), blue);
    position: sticky;
    top: 0;
}

nav label{
    color: white;
    font-size: 35px;
    padding: 0 50px;
    line-height: 80px;
}

nav p{
    position: absolute;
    top: 55px;
    left: 125px;
    color: white;
    font-weight: bolder;
    letter-spacing: 0.5px;
}

nav ul{
    float: right;
    margin-right: 55px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
    text-transform: uppercase;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 17px;
}

nav ul li a:hover{
    background: blue;
    padding: 5px 15px;
    font-size: 20px;
    border-radius: 15px;
    transition: 0.5s ease;
}

.container p{
    color: white;
    font-size: 25px;
    margin: 35px;
    text-align: justify;
}

.container img{
    float: right;
    width: 650px;
    height: 350px;
    margin: 15px 50px;
    border: 2px solid blue;
    border-radius: 20px;
    box-shadow: 15px 15px 15px 0 rgba(92, 92, 92);
}

.enroll{
    margin-top: 55px;
    margin-left: 455px;
}

.enroll p{
    font-size: 25px;
    margin-bottom: 10px;
    color: blue;
    font-weight: bolder;
}

.enroll input[type=email]{
    width: 350px;
    padding: 15px;
    font-size: 17px;
    font-weight: bolder;
    background: rgba(19, 10, 10, 0.712);
    color: white;
    outline: none;
    border-radius: 25px  0 0 25px;
    box-shadow: 5px 5px 10px 0 blue;
}

.enroll input[type=submit]{
    font-size: 25px;
    padding: 10px 25px;background: rgba(19, 10, 10, 0.712);
    color: white;
    letter-spacing: 3px;
    position: absolute;
    border-radius: 0 25px 25px 0;
    box-shadow: 5px 5px 10px 0 blue;
    cursor: pointer;
}

.enroll input[type=submit]:hover{
    background: linear-gradient(rgba(0,0,161,0.5), rgba(0, 0, 25, 0.8));
}